//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.06Beta
//Part Number: GW1N-UV9QN88C6/I5
//Device: GW1N-9C
//Created Time: Mon 12 06 13:51:56 2021

IO_LOC "EXT_IO17_COM_T1" 37;
IO_PORT "EXT_IO17_COM_T1" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO8_CHG_EN" 28;
IO_PORT "EXT_IO8_CHG_EN" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO13_TX5_A" 33;
IO_PORT "EXT_IO13_TX5_A" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO16_TX2_A" 36;
IO_PORT "EXT_IO16_TX2_A" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO14_TX1_A" 34;
IO_PORT "EXT_IO14_TX1_A" PULL_MODE=UP DRIVE=8;
IO_LOC "TX_A" 73;
IO_PORT "TX_A" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO22_AD_CS_IN" 42;
IO_PORT "EXT_IO22_AD_CS_IN" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO20_AD_DI" 40;
IO_PORT "EXT_IO20_AD_DI" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO19_AD_CLK_IN" 39;
IO_PORT "EXT_IO19_AD_CLK_IN" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO18_COM_T2" 38;
IO_PORT "EXT_IO18_COM_T2" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO9_DI_485" 29;
IO_PORT "EXT_IO9_DI_485" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO6_DI2_485" 26;
IO_PORT "EXT_IO6_DI2_485" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO2_TX4" 18;
IO_PORT "EXT_IO2_TX4" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO1_TX3" 17;
IO_PORT "EXT_IO1_TX3" PULL_MODE=UP DRIVE=8;
IO_LOC "LED4" 71;
IO_PORT "LED4" PULL_MODE=UP DRIVE=8;
IO_LOC "LED3" 70;
IO_PORT "LED3" PULL_MODE=UP DRIVE=8;
IO_LOC "LED2" 69;
IO_PORT "LED2" PULL_MODE=UP DRIVE=8;
IO_LOC "LED1" 68;
IO_PORT "LED1" PULL_MODE=UP DRIVE=8;
IO_LOC "CTR_RLY6" 48;
IO_PORT "CTR_RLY6" PULL_MODE=UP DRIVE=8;
IO_LOC "CTR_RLY5" 50;
IO_PORT "CTR_RLY5" PULL_MODE=UP DRIVE=8;
IO_LOC "CTR_RLY4" 54;
IO_PORT "CTR_RLY4" PULL_MODE=UP DRIVE=8;
IO_LOC "CTR_RLY3" 55;
IO_PORT "CTR_RLY3" PULL_MODE=UP DRIVE=8;
IO_LOC "CTR_RLY2" 56;
IO_PORT "CTR_RLY2" PULL_MODE=UP DRIVE=8;
IO_LOC "CTR_RLY1" 61;
IO_PORT "CTR_RLY1" PULL_MODE=UP DRIVE=8;
IO_LOC "SCL_LM75" 15;
IO_PORT "SCL_LM75" PULL_MODE=UP DRIVE=8;
IO_LOC "SCL" 14;
IO_PORT "SCL" PULL_MODE=UP DRIVE=8;
IO_LOC "SDA_LM75" 16;
IO_PORT "SDA_LM75" PULL_MODE=UP DRIVE=8;
IO_LOC "clk_50M" 52;
IO_PORT "clk_50M" PULL_MODE=UP;
IO_LOC "SDA" 13;
IO_PORT "SDA" PULL_MODE=UP DRIVE=8;
IO_LOC "EXT_IO21_AD_DO" 41;
IO_PORT "EXT_IO21_AD_DO" PULL_MODE=UP;
IO_LOC "RXD3_A" 72;
IO_PORT "RXD3_A" PULL_MODE=UP;
IO_LOC "EXT_IO12_CHK1" 32;
IO_PORT "EXT_IO12_CHK1" PULL_MODE=UP;
IO_LOC "EXT_IO11_CHK2" 31;
IO_PORT "EXT_IO11_CHK2" PULL_MODE=UP;
IO_LOC "EXT_IO10_RO_485" 30;
IO_PORT "EXT_IO10_RO_485" PULL_MODE=UP;
IO_LOC "EXT_IO7_CHG_ERR" 27;
IO_PORT "EXT_IO7_CHG_ERR" PULL_MODE=UP;
IO_LOC "EXT_IO5_RO2_485" 25;
IO_PORT "EXT_IO5_RO2_485" PULL_MODE=UP;
IO_LOC "EXT_IO4_COM_R2" 20;
IO_PORT "EXT_IO4_COM_R2" PULL_MODE=UP;
IO_LOC "EXT_IO3_COM_R1" 19;
IO_PORT "EXT_IO3_COM_R1" PULL_MODE=UP;
IO_LOC "EXT_IO15" 35;
IO_PORT "EXT_IO15" PULL_MODE=UP;
IO_LOC "RXD2" 74;
IO_PORT "RXD2" PULL_MODE=UP;
IO_LOC "RXD1" 75;
IO_PORT "RXD1" PULL_MODE=UP;
IO_LOC "EXT_X6" 86;
IO_PORT "EXT_X6" PULL_MODE=UP;
IO_LOC "EXT_X5" 85;
IO_PORT "EXT_X5" PULL_MODE=UP;
IO_LOC "EXT_X4" 84;
IO_PORT "EXT_X4" PULL_MODE=UP;
IO_LOC "EXT_X3" 83;
IO_PORT "EXT_X3" PULL_MODE=UP;
IO_LOC "EXT_X2" 82;
IO_PORT "EXT_X2" PULL_MODE=UP;
IO_LOC "EXT_X1" 81;
IO_PORT "EXT_X1" PULL_MODE=UP;
